*{
    box-sizing: border-box;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .large-screen-up {
        width: 50%;
        /* From https://css.glass */
        padding: 2%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

#intended-class{
    padding:6px 12px; 
    width:30%;
}

#intended-class-radio{
    padding:6px 12px; 
    width:70%;
}



